/* Main Style */
body {
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Title Style */
h2 {
    color: #ccc;
}

/* Make table in center position */
.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Tab Style */
.tab {
    overflow: hidden;
    display: var(--show-tabs);
    /* border: 1px solid #1c1b1b; */
    background-color: alpha(#f1f1f1, 0.7);
    color: #ccc;
}

/* Style for tab buttons */
.tab button {
    color: #ccc;
    background-color: inherit;
    display: var(--show-tabs);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Background for tab button when hover */
.tab button:hover {
    color: black;
    background-color: #ddd;
}

/* for active tablink */
.tab button.active {
    background-color: #ccc;
    color: black;
}

/* Style of tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    color: #ccc;
    animation: fadeEffect 1s;
    /* fade effect for 1s */
}

/* opacity change */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}